* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.Container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #007bff;
    padding: 20px 0;
}

header .Logo h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.ToggleMenu {
    display: none;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    padding: 30px 0;
}

.ProfileSection{
    position: relative;
    width: 100%;
    height: 99vh;
    display: flex;
    justify-content: center;
    z-index: 2;
    background: url('Images/About/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
}

#TextAbout{
    color: white;
}

.Profile img {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: auto;
    z-index: 1;
}

.Text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: left;
    align-items: end;
    z-index: 2;
}

.Skills {
    display: flex;
    justify-content: space-around;
}

.Skill {
    text-align: center;
    max-width: 300px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Skill:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
  
.Technologies {
    background-color: #f4f4f4;
    color: black;
    padding: 40px 0;
    text-align: center;
}
  
.Technologies h2 {
    margin-bottom: 30px;
}
  
.TechIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.TechIcon {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TechIcon img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.TechIcon p {
    font-size: 1rem;
    color: black;
}

.TechIcon:hover img {
    transform: scale(1.1);
}

.TechIcon:hover p {
    color: #007bff;
}

.Projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Project {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex-basis: 30%;
}

.Project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
    color: white;
}

footer p {
    font-size: 1rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section > div > div > img{
    margin-bottom: 40px;
}

section > div > div > p{
    font-size: 20px;
    font-weight: bold;
}

#eBookProject{
    background-image: url("Images/Projects/GameDesign_OProcessoDeCriaçãoDeUmJogo/Background.png");
}

#eBook{
    width: 80%;
    max-width: 250px;
    min-width: 150px;
}

#GaoxyProject{
    background-image: url("Images/Projects/Gaoxy/Background.png");
    color: white;
}

#Gaoxy{
    width: 80%;
    max-width: 250px;
    min-width: 150px;
}

#RegistroJourneyProject{
    background-image: url("Images/Projects/RegistroJourney/Background.png");
    background-size: cover;
    color: white;
}

#RegistroJourney{
    width: 100%;
    max-width: 250px;
    min-width: 150px;
}

#SquirrelBucketProject{
    background-image: url("Images/Projects/SquirrelBucket/Background.png");
    background-size: cover;
}

#SquirrelBucket{
    width: 80%;
    max-width: 250px;
    min-width: 150px;
}

#CUBEProject{
    background-image: linear-gradient(to top, black -10%, darkgray 10%, lightgray 15%, white 100%);
}

#CUBE{
    width: 80%;
    max-width: 350px;
    min-width: 200px;
}

#WhoDidThatProject{
    background-image: url("Images/Projects/WhoDidThat/Background.png");
    color: white;
}

#WhoDidThat{
    width: 100%;
    max-width: 350px;
    min-width: 240px;
}

#CarnivalFamilyProject{
    background-image: url("Images/Projects/CarnivalFamily/Background.png");
    color: white;
    background-size: cover;
}

#CarnivalFamily{
    width: 80%;
    max-width: 350px;
    min-width: 200px;
}

#SunMemoriesProject {
    background-image: url("Images/Projects/SunMemories/Background.jpg");
    color: black;
    background-size: cover;
    background-position: center;
}

#SunMemories {
    width: 80%;
    max-width: 350px;
    min-width: 200px;
}

#EggsIncubationStationProject{
    background-image: url("Images/Projects/EggsIncubationStation/Background.png");
    color: white;
    background-position: 150vh;
    font-weight: 600;
    background-size: cover;
}

#EggsIncubationStation{
    width: 100%;
    max-width: 350px;
    min-width: 200px;
}

#KrisKLTJProject{
    background-image: url("Images/Projects/KrisKringle_LicenseToJingle/Background.png");
    color: white;
    background-position: left;
    background-size: cover;
}

#KrisKringle_LicenseToJingle{
    width: 100%;
    max-width: 350px;
    min-width: 200px;
}

#TGTBaTPaperworkProject{
    background-image: url("Images/Projects/TheGoodTheBadAndThePaperwork/ProjectBG.png");
    color: black;
    background-position: center;
    background-size: cover;
    font-weight: bold;
}

#TheGoodTheBadAndThePaperwork{
    width: 90%;
    max-width: 350px;
    min-width: 200px;
}

.Project > img{
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
}

#Certificates {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.Certificates {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.Certificate {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Certificate img {
    width: 70%;
    max-width: 400px;
    height: auto;
    margin-bottom: 15px;
}

.Certificate h3 {
    margin-bottom: 10px;
}

.Certificate p {
    margin-bottom: 10px;
    text-align: center;
}

.Certificate a {
    font-weight: bold;
}

#RedirectionButton_Black{
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#RedirectionButton_Black:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#RedirectionButton_White{
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#RedirectionButton_White:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

#Contact {
    padding: 40px 0;
    background-color: #f4f4f4;
}

.Container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.ContactLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.ContactItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 250px;
    justify-content: space-between;
    text-align: left;
}

.ContactItem:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.SocialIcon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    object-fit: contain;
}

/*responsividade*/

@media(min-width: 1024px){
    .Skills{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .Profile img{
        top: 59%;
        left: 80%;
        width: 400px;
    }
    .Text{
        top: 65%;
        left: 30%;
        width: 600px;
    }
    #TextAbout{
        margin-top: 20px;
    }
}

@media (max-width: 1024px){
    .Skills{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .Text{
        top: 85%;
        font-size: 1.5em;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        text-shadow: black 2px 3px;
    }
    .Profile img{
        max-width: 450px;
        top: 67%;
        left: 50%;
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        width: 100%;
        text-align: center;
    }
    
    nav.active ul {
        display: block;
    }

    .ToggleMenu {
        display: block;
    }

    nav ul li {
        margin: 10px 0;
    }

    .Skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .Projects {
        flex-direction: column;
    }

    .Project {
        max-width: 100%;
    }

    .TechIcons {
        gap: 15px;
    }

    .TechIcon {
        width: 100px;
        height: 100px;
    }

    .TechIcon img {
        width: 80px;
        height: 80px;
    }

    .Certificates {
        flex-direction: column;
        align-items: center;
    }

    .Certificate {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .ContactLinks {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .ContactItem {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .Skills{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .TechIcons {
        gap: 10px;
    }

    .TechIcon {
        width: 80px;
        height: 80px;
    }

    .TechIcon img {
        width: 60px;
        height: 60px;
    }

    .ContactItem {
        width: 100%;
        text-align: center;
    }

    .SocialIcon {
        width: 30px;
        height: 30px;
    }
}
