* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #007bff;
    padding: 20px 0;
}

header .logo h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-toggle {
    display: none;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    padding: 60px 0;
}

.section-profile{
    position: relative;
    width: 100%;
    height: 99vh;
    display: flex;
    justify-content: center;
    z-index: 2;
    background: url('Images/Sobre/ProfileBG.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

#text-sobre{
    color: white;
}

.perfil img {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: auto;
    z-index: 1;
}

.text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: left;
    align-items: end;
    z-index: 2;
}

.habilidades {
    display: flex;
    justify-content: space-around;
}

.habilidade {
    text-align: center;
    max-width: 300px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.habilidade:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .technologies {
    background-color: #f4f4f4;
    color: black;
    padding: 40px 0;
    text-align: center;
  }
  
  .technologies h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .tech-icon {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tech-icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    transition: transform 0.3s;
  }
  
  .tech-icon p {
    font-size: 1rem;
    color: black;
  }
  
  .tech-icon:hover img {
    transform: scale(1.1);
  }
  
  .tech-icon:hover p {
    color: #007bff;
  }

.projetos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projeto {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex-basis: 30%;
}

.projeto h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
    color: white;
}

footer p {
    font-size: 1rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section > div > div > img{
    margin-bottom: 40px;
}

section > div > div > p{
    font-size: 20px;
    font-weight: bold;
}

#eBook-project{
    background-image: url("Images/projects/fundo-projeto-eBook.png")
}

#eBook{
    width: 80%;
    max-width: 250px;
    min-width: 150px;
}

#gaoxy-project{
    background-image: url("Images/projects/fundo-projeto-Gaoxy.png");
    color: white;
}

#Gaoxy{
    width: 80%;
    max-width: 250px;
    min-width: 150px;
}

#RegistroJourney-project{
    background-image: url("Images/projects/RegistroJourneyBG.png");
    background-size: cover;
    color: white;
}

#RegistroJourney{
    width: 80%;
    max-width: 450px;
    min-width: 200px;
}

#squirrel-project{
    background-image: url("Images/projects/fundo-projeto-Squirrel-Bucket.png");
    background-size: cover;
}

#squirrel{
    width: 80%;
    max-width: 250px;
    min-width: 150px;
}

#Cube{
    width: 80%;
    max-width: 350px;
    min-width: 200px;
}

#cube-project{
    background-image: linear-gradient(to top, black -10%, darkgray 10%, lightgray 15%, white 100%);
}

#Who-Did-That{
    width: 80%;
    max-width: 350px;
    min-width: 230px;
}

#who-did-that-project{
    background-image: url("Images/projects/Who_did_that_background.png");
    color: white;
}

#carnivalfamily-project{
    background-image: url("Images/projects/Carnival_family_background.png");
    color: white;
    background-size: cover;
}

#Carnival_Family{
    width: 80%;
    max-width: 350px;
    min-width: 200px;
}

#sun-memories-project {
    background-image: url("Images/project_pages/Sun_Memories/Sun_Memories_BG.jpg");
    color: black;
    background-size: cover;
    background-position: center;
}

#Sun_Memories {
    width: 80%;
    max-width: 350px;
    min-width: 200px;
}

#eggIS-project{
    background-image: url("Images/projects/EggsIS_BG.png");
    color: white;
    background-position: 150vh;
    font-weight: 600;
    background-size: cover;
}

#Eggs_Incubation_Station{
    width: 100%;
    max-width: 350px;
    min-width: 200px;
}

#KrisKLTJ-project{
    background-image: url("Images/project_pages/Kris_Kringle_License_To_Jingle/LivingRoomBG.png");
    color: white;
    background-position: 150vh;
    font-weight: 600;
    background-size: cover;
    background-position: left;
}

#Kris_Kringle_License_To_Jingle{
    width: 80%;
    max-width: 350px;
    min-width: 200px;
}

.projeto > img{
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
}

#certificados {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.certificados {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.certificado {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.certificado img {
    width: 70%;
    max-width: 400px;
    height: auto;
    margin-bottom: 15px;
}

.certificado h3 {
    margin-bottom: 10px;
}

.certificado p {
    margin-bottom: 10px;
    text-align: center;
}

.certificado a {
    font-weight: bold;
}

#RedirectionButton_black{
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#RedirectionButton_black:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#RedirectionButton_white{
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#RedirectionButton_white:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

#contato {
    padding: 40px 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}

.contato-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.contato-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 250px;
    justify-content: space-between;
    text-align: left;
}

.contato-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.social-icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    object-fit: contain;
}

/*responsividade*/

@media(min-width: 1024px){
    .habilidades{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .perfil img{
        top: 59%;
        left: 80%;
        width: 400px;
    }
    .text{
        top: 65%;
        left: 30%;
        width: 600px;
    }
    #text-sobre{
        margin-top: 20px;
    }
}

@media (max-width: 1024px){
    .habilidades{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .text{
        top: 85%;
        font-size: 1.5em;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        text-shadow: black 2px 3px;
    }
    .perfil img{
        max-width: 450px;
        top: 67%;
        left: 50%;
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        width: 100%;
        text-align: center;
    }
    
    nav.active ul {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    nav ul li {
        margin: 10px 0;
    }

    .habilidades {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .projetos {
        flex-direction: column;
    }

    .projeto {
        max-width: 100%;
    }

    .tech-icons {
        gap: 15px;
      }
    
      .tech-icon {
        width: 100px;
        height: 100px;
      }
    
      .tech-icon img {
        width: 80px;
        height: 80px;
      }
    
      .technologies h2 {
        font-size: 1.5rem;
      }

    .certificados {
        flex-direction: column;
        align-items: center;
    }

    .certificado {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .contato-links {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contato-item {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .habilidades{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .tech-icons {
        gap: 10px;
      }
    
      .tech-icon {
        width: 80px;
        height: 80px;
      }
    
      .tech-icon img {
        width: 60px;
        height: 60px;
      }
    
      .technologies h2 {
        font-size: 1.2rem;
      }

    .contato-item {
        width: 100%;
        text-align: center;
    }

    .social-icon {
        width: 30px;
        height: 30px;
    }
}
